table#backgroundTable
  position: fixed
  width: 100%
  height: 100%
  td
    border: 0.5px rgba(57, 66, 64, 0.75) dashed
    &.red-day
      background-color: #F06B50
    &.black-day
      background-color: #4B3E4D
    &.blue-day
      background-color: #1f8087

/* First palette */
/* Blue - #45AAB8 */
/* Sand - #E1D772 */
/* Biege - #FAF4B1 */
/* Black - #394240 */
/* Red - #F06B50 */
/* Second palette */
/*Deep - #4B3E4D*/
/*Blue - #1E8C93*/
/*Biege - #DBD8A2*/
/*Yellow-ish - #C4AC30*/
/*Red-ish - #D74F33*/