//Variablos
$DeepRed = #F06B50
$DeepBlack = #4B3E4D
$DeepBlue = #1f8087

//First palette
$Blue = #45AAB8
$Sand = #E1D772
$Biege = #FAF4B1
$Black = #394240
$Red = #F06B50
/* Second palette */
Deep = #4B3E4D
Blue = #1E8C93
Biege = #DBD8A2
Yellow-ish = #C4AC30
Red-ish = #D74F33

#header
  width 100%
  padding 18px 0 28px
  background-color $Black
  h1
    color $Biege
    align-content center
    text-align center

#previousYearsTable
  width 100%
  text-align center
  background grey
table#backgroundTable
  position fixed
  table-layout: fixed;
  width 100%
  height 70%
  td
    border: 0.5px rgba(57, 66, 64, 0.75) dashed
    font-weight 700
    transition: 1.0s
    //&:hover
    //  transition: .3s
  &:hover
    .black-day, .red-day, .blue-day
      color Yellow-ish
      transition 1.9s

.red-day
  background-color $DeepRed
  color $DeepRed
  &.today-day
    background-color $Biege
    color $Red
.black-day
  background-color $DeepBlack
  color $DeepBlack
  &.today-day
    background-color $Biege
    color $Red
.blue-day
  background-color $DeepBlue
  color $DeepBlue
  &.today-day
    background-color $Biege
    color $Red

div#mainContent
  position absolute
  z-index 999
  opacity 0.7
  width 600px
  background #7F007F
  transition .3s
  //height 100px
  &:hover
    opacity 1