/* Second palette */
#header {
  width: 100%;
  padding: 18px 0 28px;
  background-color: #394240;
}
#header h1 {
  color: #faf4b1;
  align-content: center;
  text-align: center;
}
table#backgroundTable {
  position: fixed;
  width: 100%;
  height: 100%;
}
table#backgroundTable td {
  border: 0.5px rgba(57,66,64,0.75) dashed;
}
table#backgroundTable td.red-day {
  background-color: #f06b50;
}
table#backgroundTable td.black-day {
  background-color: #4b3e4d;
}
table#backgroundTable td.blue-day {
  background-color: #1f8087;
}
div#mainContent {
  position: absolute;
  z-index: 999;
  opacity: 0.7;
  width: 600px;
  background: #7f007f;
  transition: 0.3s;
}
div#mainContent:hover {
  opacity: 1;
}
